@media screen and (max-width: 760px) and (orientation: landscape) {
  .quiz-content {
    margin-top: 70px;
    min-height: calc(100vh - 376px);
  }

  .quiz-block-preview__main-block-image {
    display: none;
  }

  .quiz-block-preview__main-block-image-landscape {
    display: block;
    width: 100%;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: -1;
  }

  .quiz-block-preview__caption {
    font-size: 25px;
  }

  .countries-list {
    height: 78px;
  }

  .phone-window_active .countries-list {
    height: 112px;
  }

  .phone-window_active .button {
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) and (orientation: landscape) {
  .mobile-white-content {
    margin-bottom: 50px !important;
  }

  .white-block-page {
    margin-bottom: 50px !important;
  }

  .questions {
    margin-bottom: 0 !important;
  }

  .header {
    z-index: 10;
  }

  .header__container {
    background-color: #F5EEDD !important;
  }
}

@media (min-width: 760px) {
  .quiz-body {
    padding: 160px 0px 50px 0px;
    overflow: auto;
  }

  /* Боковое меню */
  .hide-menu__menu {
    width: 350px;
    padding: 45px 0px 0px 10px;
  }

  .hide-menu__close {
    top: 33px;
    right: 33px;
    width: 19px;
    height: 19px;
  }

  .hide-menu__list-item {
    margin-bottom: 16px;
  }

  .hide-menu__list-item-link {
    font-size: 23px;
  }

  /* Хедер квиза */
  .header {
    padding: 0;
    background-color: #F5EEDD;
  }

  .header:after {
    display: none !important;
  }

  .header__container {
    padding: 0;
    width: 580px;
    height: auto;
    margin: auto;
    padding: 24px 0px 24px 0px;
  }

  .header__prev {
    display: flex;
    align-items: center;
    width: auto;
  }

  .header__prev:after {
    content: attr(data-text);
    display: block;
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Muli_Bold';
    letter-spacing: 2px;
  }

  .header__prev-icon {
    width: 27px;
    transition: 0.4s;
  }

  .header__logo {
    width: 100px;
    max-width: none;
  }

  .header__burger-icon {
    width: 24px;
  }

  .quiz-line {
    width: 560px;
    margin: auto;
  }

  .quiz-line__line-progress {
    height: 6px;
  }

  .quiz-line__status {
    font-size: 14px;
  }

  /* Контент квиза */
  .quiz-main-block-tablet-bg {
    display: block;
    position: absolute;
    z-index: -1;
    top: 138px;
    right: 0;
    left: 0;
  }

  .quiz-main-block-tablet-bg_image {
    display: block;
    width: 100%;
  }

  .quiz-block-preview {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 580px;
    height: 315px;
    padding-top: 0px;
    margin: 0px auto -8px auto;
  }

  .quiz-block-preview__image {
    max-height: 360px;
  }

  .quiz-block-preview_main-block {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 8;
    height: auto;
    margin-bottom: 16px;
  }

  .quiz-block-preview__main-block-image,
  .quiz-block-preview__main-block-image-landscape {
    display: none;
  }

  .quiz-block-preview__caption {
    transform: translateY(-63px);
  }

  .quiz-block-preview .container {
    padding: 0;
  }

  .quiz-content {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 560px;
    margin: auto;
    border-radius: 15px;
    height: auto !important;
    min-height: auto;
  }

  .quiz-main-content {
    width: 580px;
  }

  .quiz-content__inner {
    margin-bottom: 0;
    padding: 10px 40px 32px 40px;
  }

  .quiz-content-header {
    margin-bottom: 24px;
  }

  .quiz-content-header__title br {
    display: none;
  }

  .quiz-content-header__description br {
    display: none;
  }

  .quiz-content__buttons .button {
    width: 233px;
    margin: 0px;
  }

  .quiz-description {
    width: 560px;
    padding: 7px 0px 0px 0px;
    margin: auto;
  }

  .quiz-checkboxes .checkbox {
    margin-bottom: 16px;
    padding-left: 24px;
  }

  .quiz-checkboxes .checkbox:last-child {
    margin-bottom: 0;
  }

  .button {
    width: 327px;
    margin: auto;
  }

  .quiz-content .double-input {
    width: 232px;
    margin: auto;
  }

  .full-width-on-tablet {
    width: 100% !important;
  }

  .quiz-checkboxes_square {
    margin: 0px -8px 10px -8px;
  }

  .quiz-checkboxes_square .checkbox_square {
    width: 156px;
    height: 156px;
    margin-bottom: 15px;
  }

  /* Email */
  .mobile-white-content {
    margin: 135px auto 0px auto;
    width: 560px;
    height: auto;
    border-radius: 15px;
    padding: 5px 0px 32px 0px;
  }

  .mobile-white-content .container {
    padding: 0px 40px;
  }

  /* Final */
  .final-container {
    max-width: none;
    margin: auto;
  }

  .final-page-header__container {
    height: 64px;
  }

  .main-container {
    width: 710px;
    margin: auto;
  }

  .final-container {
    padding: 0px 0px 80px 0px;
  }

  .final-page-header__button {
    margin: 0;
    height: 40px;
    width: 200px;
    font-size: 13px;
    letter-spacing: 2px;
  }

  .final-page-header_title {
    font-size: 24px;
    line-height: 30px;
  }

  .page-progress {
    top: 64px;
    height: 3px;
  }

  .final-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .final-grid .final-page-block {
    width: 343px;
  }

  .numbers-list__list-item {
    margin: 0px 22px;
  }

  .bmi__title {
    margin-top: -5px;
  }

  .bmi__half-circle-container {
    margin: 20px auto 8px auto;
  }

  .final-schedule {
    margin-top: -16px;
  }

  .calories__line {
    margin: 18px 0px 20px 0px;
  }

  .calories__count {
    padding-bottom: 4px;
  }

  .deseases-block {
    padding: 40px 24px;
    margin-bottom: 44px;
  }

  .deseases__title {
    font-size: 32px;
    margin: 24px 0px;
  }

  .deseases__description {
    font-size: 16px;
    padding: 0px 60px;
    margin-bottom: 24px;
  }

  .deseases__list-item {
    width: 140px;
  }

  .deseases__list-item-icon {
    margin-bottom: 14px;
  }

  .deseases__list-item-title {
    font-size: 15px;
    line-height: 22px;
  }

  .questions {
    margin-bottom: 48px;
  }

  .questions__caption {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .questions__list-item {
    border-radius: 10px;
    margin-bottom: 16px;
  }

  .questions__list-item-title {
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
    line-height: 20px;
    min-height: 56px;
  }

  .questions__list-item-title:after {
    top: 15px;
  }

  .questions__list-item-description {
    font-size: 16px;
    line-height: 21px;
  }

  .we-prepared__caption {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 70px;
  }

  .we-prepared__preview-mobile {
    position: absolute;
    width: 285px;
    margin: -40px 0px 0px 0px;
  }

  .we-prepared__preview-mobile-image {
    display: none;
  }

  .we-prepared__preview-tablet-image {
    display: block;
    width: 100%;
  }

  .we-prepared__list {
    margin-bottom: 52px;
  }

  .we-prepared__list-item {
    position: relative;
    width: 335px;
    margin: 0px 0px 90px 35px;
  }

  .we-prepared__list-item:first-child {
    width: 410px;
    margin: 0px 0px 154px 298px;
  }

  .we-prepared__list-item:last-child {
    margin-bottom: 0;
  }

  .we-prepared__list-item-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 27px;
  }

  .we-prepared__list-item-title strong {
    font-size: 24px;
  }

  .we-prepared__list-item-title:before {
    font-size: 200px;
    line-height: 32px;
    top: 25px;
    left: -35px;
  }

  .we-prepared__list-item-description {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Muli_SemiBold';
  }

  .we-prepared__list-item-image-container,
  .we-prepared__list-item-image {
    display: none;
  }

  .we-prepared__list-item:nth-child(2) .we-prepared__list-item-image-container {
    display: block;
    position: absolute;
    top: -50px;
    right: -339px;
    width: 364px;
  }

  .we-prepared__list-item-tablet-image {
    display: block;
    width: 100%;
  }

  .reviews {
    padding: 40px 24px 50px 24px;
    margin-bottom: 80px;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 40px;
    margin: 15px 0px 0px 0px;
  }

  .reviews__list-item {
    padding: 0px 160px;
  }

  /* Внутренние страницы квиза */
  .page-container {
    padding: 125px 0px 70px 0px;
    width: 710px;
    margin: auto;
  }

  .white-block-page {
    width: 375px;
    margin: 132px auto 0px auto;
    min-height: auto;
    height: auto;
    border-radius: 15px;
    padding-bottom: 24px;
  }

  /* Pricing */
  .pricing-slider {
    margin: 50px 0px 48px 0px;
  }

  .pricing-slider .h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .pricing-page-container {
    width: 618px;
    margin: auto;
    padding: 0px 0px 30px 0px;
  }

  .pricing-page-container .white-block {
    padding: 40px 40px 15px 40px;
    margin-bottom: 48px;
  }

  .pricing-page-container .emoji {
    margin-bottom: 24px;
  }

  .pricing-page-container .quiz-content-header__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .pricing-page-container .quiz-content-header__description {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Muli_Regular';
  }

  .pricing-page-container .h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .secure-by__list {
    margin: 0px 10px -8px 10px;
  }

  .secure-by__item {
    width: 25%;
    margin-bottom: 32px;
  }

  /* Windows */
  .window-email {
    width: 560px;
    border-radius: 15px;
    padding: 8px 40px 32px 40px;
  }

  .windows__inner .close {
    top: 24px;
    right: 24px;
    transition: 0.4s;
  }

  .windows__inner .close:hover {
    transform: rotate(90deg);
  }

  .window-email .quiz-content-header {
    margin-bottom: 24px;
  }

  /* Thanks page */
  .thanks-page {
    width: 560px;
    margin: auto;
    padding: 135px 0px 69px 0px;
  }

  .thanks-page .white-block {
    border-radius: 15px;
    padding: 0px 40px 32px 40px;
    margin-bottom: 23px;
  }

  .thanks-page .input {
    margin-bottom: 11px;
  }

  .input_sucsess:after {
    margin-bottom: 4px;
    font-size: 10px;
  }

  .thanks-page .button {
    width: 327px;
    margin: 0px auto 24px auto;
  }

  .thanks-page .quiz-content-header {
    padding-top: 35px;
    margin-bottom: 23px;
  }

  .thanks-page .quiz-content-header__title {
    margin-bottom: 10px;
  }

  .thanks-page__text {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }

  .enter-account-info {
    padding: 40px 40px 33px 40px !important;
  }

  .enter-account-info .emoji {
    margin: 0px auto 32px auto;
  }

  .enter-account-info .h2 {
    margin-bottom: 30px;
  }

  /* Countries window */
  .phone-window {
    width: 560px;
    padding: 52px 40px 24px 40px;
    border-radius: 15px;
  }

  .phone-window__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .countries-list {
    left: 40px;
    right: 40px;
  }

  .countries-input__input {
    width: 398px;
  }

  /* Other */
  .loader {
    padding-bottom: 0;
  }

  /* Meal plan */
  .meal-plan {
    margin-bottom: 48px;
  }

  .your-email-container {
    width: 618px;
    padding-top: 80px;
    margin: 0px auto 24px auto;
  }

  .your-email {
    padding: 17px 40px;
  }

  .your-email__button {
    top: 17px;
    right: 38px;
  }

  .your-email__title {
    margin-bottom: 13px;
  }

  .meal-plan {
    padding: 40px 0px;
  }

  .meal-plan__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .select {
    width: 327px;
    margin: 0px auto 16px auto;
  }

  .days-list {
    width: 598px;
    margin: 0px auto 42px auto;
  }

  .days-list li {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    font-size: 16px;
  }

  .days {
    width: 618px;
    margin: auto;
  }

  .recipe__preview {
    height: 223px;
  }

  .recipe__content {
    padding: 0px 23px 25px 23px;
  }

  .recipe__header {
    padding: 20px 0px 17px 0px;
    margin: 0px 0px 15px 0px;
  }

  .recipe__header-title {
    font-size: 24px;
  }

  .recipe__info-title {
    margin-bottom: 0;
    padding-bottom: 16px;
  }

  .recipe__info-description {
    width: 302px;
  }

  .recipe__status-line div {
    height: 6px;
  }

  .exercises {
    width: 618px;
    margin: 0px auto 24px auto;
  }

  .tables {
    width: 618px;
    margin: 0px auto 48px auto;
    padding: 40px 34px;
  }

  .tables__title {
    margin-top: 2px;
  }

  .table-container {
    margin-bottom: 32px;
  }

  .table__title {
    height: 32px;
    margin-bottom: 16px;
  }

  .table__title img {
    height: 32px;
    margin-right: 8px;
  }

  .table td {
    height: 32px;
    font-size: 16px;
    padding: 0px 28px;
  }

  .tables__button {
    font-size: 16px;
    margin: 22px auto 32px auto;
  }

  .tables__button:before {
    margin-top: -4px;
  }

  .tables .button {
    width: 311px;
    margin: auto;
  }

  .recomendations {
    width: 618px;
    margin: 0px auto 110px auto;
  }

  .recomendations .h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .recomendations__description {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0px 48px 0px;
  }

  .recomendations__list-item {
    border-radius: 15px;
  }

  .recomendations__list-item:last-child {
    margin-bottom: 24px;
  }

  .recomendations__description {
    margin-bottom: 24px;
  }

  .recomendations__list-item {
    padding: 40px 40px 38px 40px;
  }

  .recomendations__list-item-title {
    margin: 16px 0px
  }

  /* Checkout */

  .select-payment-method {
    width: 618px;
    margin: 48px auto;
  }

  .select-payment-method__content {
    padding-bottom: 16px;
  }

  .select-payment-method .h2 {
    font-size: 32px;
    line-height: 40px;
    padding: 35px 0px 30px 0px;
  }

  .select-payment-method .button {
    width: 350px;
    height: 45px;
  }

  .select-payment-method__bottom-text {
    font-size: 16px;
    font-family: 'Muli_SemiBold';
  }

  .payment-frame {
    margin: 25px 0px 40px 0px;
  }

  .payment-frame img,
  .payment-frame iframe {
    margin: 0px auto 24px auto;
  }

  .payment-frame__description {
    max-width: 380px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .header {
    width: 100%;
    max-width: 1140px;
    margin: auto;
  }

  .quiz-main-block-pc-bg {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
  }

  .quiz-main-block-pc-bg_image {
    display: block;
    position: relative;
    top: 0px;
    width: 100%;
  }

  .quiz-body {
    padding-top: 180px;
  }

  .quiz-main-block-tablet-bg {
    display: none;
  }

  .header__container {
    width: 880px;
  }

  .quiz-description {
    padding-top: 0px;
    margin-top: -15px;
  }

  .checkbox:hover {
    background-color: #B9F8C0;
  }

  .checkbox_square:hover .checkbox__icon {
    opacity: 0.17;
  }

  .button:hover {
    background-color: #47484B;
  }

  .button_blue:hover {
    background-color: #19AFF8;
  }

  .button_pink:hover {
    background-color: #F93577;
  }

  .button_purple:hover {
    background-color: #8C76ED;
  }

  .header__prev:hover .header__prev-icon {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }

  .hide-menu__close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .hide-menu__list-item-link:hover {
    color: #0db874;
  }

  .left-plate,
  .right-plate {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .left-plate {
    left: -350px;
  }

  .right-plate {
    right: -350px;
  }

  .left-plate img,
  .right-plate img {
    display: block;
    width: 700px;
  }

  .quiz-block-preview {
    display: none;
  }

  .quiz-block-preview_main-block {
    display: block;
  }

  .quiz-block-preview__caption {
    transform: translateY(0px);
    margin: -80px 0px 40px 0px;
  }

  .quiz-content__inner p br {
    display: block;
  }

  .main-container {
    width: 806px;
  }

  .final-page-header__button {
    font-size: 14px;
    font-family: 'Muli_SemiBold';
  }

  .final-page-caption {
    font-size: 32px;
    padding-top: 5px;
    margin-bottom: 40px;
  }

  .final-grid .final-page-block {
    width: 390px;
  }

  .hide-info__text {
    font-size: 16px;
    line-height: 23px;
  }

  .numbers-list__list-item {
    margin: 0px 31px;
  }

  .final-schedule__schedule {
    left: 24px;
    right: -11px;
  }

  .numbers-list__title {
    padding: 12px 50px;
  }

  .final-schedule {
    width: 295px;
    margin: -16px auto 0px auto;
  }

  .letters-list {
    padding: 0px 17px;
  }

  .letters-list__item {
    font-size: 16px;
    line-height: 20px;
  }

  .deseases-block {
    margin-bottom: 70px;
  }

  .deseases__description {
    padding: 0;
    margin-bottom: 26px;
  }

  .questions {
    margin-bottom: 80px;
  }

  .deseases__list {
    justify-content: space-between;
    padding: 0px 30px;
  }

  .deseases__title {
    margin: 22px 0px 32px 0px;
  }

  .deseases__description {
    margin-bottom: 32px;
  }

  .deseases__list {
    margin-bottom: -38px;
  }

  .deseases__list-item {
    width: 150px;
    margin-bottom: 38px;
  }

  .deseases__list-item-icon {
    margin-bottom: 15px;
  }

  .deseases__list-item-title {
    font-size: 15px;
    line-height: 22px;
  }

  .questions__list-item-title {
    font-size: 16px;
    padding-left: 38px;
  }

  .questions__list-item-title:after {
    top: 16px;
  }

  .questions__list-item-description {
    padding-left: 38px;
  }

  .we-prepared {
    margin-bottom: 80px;
  }

  .we-prepared__list {
    margin-bottom: 106px;
  }

  .we-prepared__caption {
    margin-bottom: 95px;
  }

  .we-prepared__preview-mobile {
    width: 385px;
    margin: -60px 0px 0px -40px;
  }

  .we-prepared__list-item:first-child {
    width: 440px;
    margin: 0px 0px 325px 365px;
  }

  .we-prepared__list-item {
    margin: 0px 0px 162px -55px;
    width: 500px;
  }

  .we-prepared__list-item:first-child .we-prepared__list-item-title:before {
    font-size: 288px;
    top: 40px;
    left: -70px;
  }

  .we-prepared__list-item-title:before {
    font-size: 250px;
    top: 27px;
    left: -57px;
  }

  .we-prepared__list-item:nth-child(2) .we-prepared__list-item-image-container {
    display: block;
    position: absolute;
    top: -150px;
    right: -480px;
    width: 531px;
  }

  .reviews {
    position: relative;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__list {
    padding: 0px 0px;
  }

  .reviews__list .slick-slide {
    margin: 0px;
    width: 405px;
  }

  .reviews__list-item {
    padding: 0px 40px;
    width: auto;
    margin: auto;
  }

  .reviews__list .reviews__list-item:nth-child(odd) {
    padding-left: 80px;
  }

  .reviews__list .reviews__list-item:nth-child(even) {
    padding-right: 80px;
  }

  .slick-arrow {
    cursor: pointer;
  }

  .reviews__prev {
    left: -20px;
  }

  .reviews__next {
    right: -20px;
  }

  /* Внутренние страницы квиза */
  .page-container {
    padding: 160px 0px 70px 0px;
    width: 806px;
  }

  .questions__list-item-description {
    max-height: 400px;
  }

  .white-block-page {
    margin-top: 165px;
  }

  /* Pricing */
  .pricing-page-container {
    padding-bottom: 100px;
  }

  .pricing-slider {
    margin: 60px 0px 40px 0px;
  }

  .pricing-slider .h2 {
    margin-bottom: 33px;
  }

  .pricing-slider__list .slick-slide {
    margin: 0px 15px;
  }

  .pricing-slider__item {
    width: 360px;
    padding: 30px 0px 40px 0px;
  }

  .pricing-slider__item-header {
    margin: 0px 40px 11px 32px;
  }

  .pricing-slider__item-header-title {
    font-size: 18px;
    line-height: 32px;
  }

  .pricing-slider__item-header-icons img {
    width: 24px;
    margin-left: 4px;
  }

  .pricing-slider__irem-weight {
    font-size: 36px;
    line-height: 64px;
    margin: 0px 32px 14px 32px;
  }

  .pricing-slider__list-item-info {
    margin: 0px 33px;
    min-height: 215px;
  }

  .pricing-slider__list-item-info li {
    font-size: 16px;
    line-height: 32px;
    padding-left: 30px;
    margin-bottom: 3px;
  }

  .pricing-slider__list-item-info li:before {
    top: 5px;
    width: 22px;
    height: 22px;
    background-size: 100% auto;
  }

  .pricing-slider__item-price {
    font-size: 36px;
    line-height: 65px;
    margin-bottom: 13px;
  }

  .pricing-slider__item-price span {
    top: -42px;
    font-size: 16px;
    line-height: 64px;
  }

  .pricing-slider__item .button {
    font-size: 14px;
  }

  .pricing-page-container {
    width: 806px;
  }

  .pricing-page-container .white-block {
    margin-bottom: 40px;
  }

  .pricing-page-container .emoji {
    margin-bottom: 26px;
  }

  .pricing-page-container .quiz-content-header__title {
    margin-bottom: 18px;
  }

  .pricing-page-container .quiz-content-header__description {
    margin-bottom: 1px;
  }

  .pricing-page-container .h2 {
    margin-bottom: 42px;
  }

  .secure-by__list {
    margin: 0px -22px;
  }

  .secure-by__item {
    width: 16.66%;
  }

  /* Thanks page */
  .thanks-page {
    padding-top: 170px;
  }

  .enter-account-info {
    padding-bottom: 40px !important;
  }

  .enter-account-info__list {
    margin-bottom: 16px;
  }

  /* Phone window */
  .countries-list__item {
    transition: 0.4s;
  }

  .countries-list__item:hover {
    background-color: #E1FFE4;
  }

  /* Meal plan */
  .your-email-container {
    width: 565px;
    padding-top: 96px;
    margin-bottom: 40px;
  }

  .your-email {
    padding: 20px 40px 16px 40px;
  }

  .your-email__button {
    top: 22px;
    right: 40px;
  }

  .your-email__title {
    margin-bottom: 22px;
  }

  .meal-plan {
    width: 1024px;
    padding: 0px 0px 40px 0px;
    margin: 0px auto 80px auto;
    border-radius: 6px;
    overflow: hidden;
  }

  .meal-plan__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 62px 40px 207px;
  }

  .meal-plan__title {
    margin: 0;
  }

  .meal-plan__select {
    margin: 0;
  }

  .select__value {
    padding-left: 23px;
    font-size: 16px;
  }

  .select__value:after {
    right: 23px;
  }

  .select__list li {
    transition: 0.4s;
  }

  .select__list li:hover {
    background-color: #9ef2a7;
  }

  .days-list {
    display: none;
  }

  .meal-plan__days-captions {
    display: block;
  }

  .meal-plan__recipes-captions {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    margin-right: 56px;
  }

  .meal-plan__recipes-captions p {
    width: 153px;
    height: 55px;
    line-height: 22px;
    padding: 14px 0px 19px 0px;
    text-align: center;
    font-family: 'Muli_SemiBold';
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }

  .meal-plan__days-captions {
    position: absolute;
    z-index: 2;
    margin: 0px 0px 0px 52px;
  }

  .meal-plan__days-captions div {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 150px;
    width: 151px;
    padding-left: 26px;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }

  .days__item {
    position: static;
    opacity: 1;
    pointer-events: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .recipe {
    padding: 5px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }

  .recipe-hover {
    opacity: 1;
    background-color: #DCFBDF;
  }

  .recipe .recipe__preview,
  .recipe .recipe__content {
    display: none;
  }

  .recipe__small-preview {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 143px;
    height: 140px;
    border-radius: 5px;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }

  .recipe-hover .recipe__small-preview {
    opacity: 1;
  }

  .recipe__small-preview div {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #0DB874;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    padding: 0px 10px;
    font-family: 'Muli_SemiBold';
    opacity: 0;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }

  .recipe:hover .recipe__small-preview,
  .recipe:hover .recipe__small-preview div {
    opacity: 1;
  }

  .exercises {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    margin-bottom: 24px;
    border-radius: 15px;
  }

  .exercises__content {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .exercises__content-text {
    margin-left: 24px;
  }

  .exercises__title {
    margin: 0px 0px 6px 0px;
  }

  .exercises__description {
    margin-bottom: 0;
  }

  .exercises .button {
    margin: 0;
    width: 311px;
  }

  .tables {
    position: relative;
    width: 1024px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding: 0;
    margin-bottom: 81px;
  }

  .tables__header {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #fff;
    border-radius: 15px;
  }

  .tables__header .emoji {
    margin: 0;
  }

  .tables__title {
    padding: 0;
    margin-left: 24px;
  }

  .tables-content {
    height: auto;
  }

  .tables-content:after {
    display: none;
  }

  .tables-content {
    display: flex;
    justify-content: space-between;
    padding: 36px 40px 40px 40px;
  }

  .table-container {
    margin-bottom: 30px;
  }

  .table-container:last-child {
    margin-bottom: 0;
  }

  .tables__button {
    display: none;
  }

  .tables .button {
    position: absolute;
    top: 28px;
    right: 40px;
  }

  .table-container {
    width: 457px;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
  }

  .table__title {
    height: 32px;
    font-size: 24px;
    margin-bottom: 22px;
  }

  .table__title img {
    height: 32px;
    margin-right: 16px;
  }

  .table td {
    padding: 0px 16px;
  }

  .recomendations {
    width: 1024px;
    margin-bottom: 150px;
  }

  .recomendations__description {
    margin: 24px 40px 72px 40px;
  }

  .recomendations__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .recomendations__list-item {
    width: 496px;
    padding: 24px 40px 63px 40px;
    margin-bottom: 32px !important;
  }

  .recomendations__list-item-title {
    margin: 25px 0px;
  }

  .recipe-window {
    width: 100%;
    max-height: 100vh;
    padding: 100px 0px;
    overflow: auto;
  }

  .recipe-window .recipe {
    position: relative;
    padding: 0;
    width: 700px;
    margin: auto;
    cursor: auto;
  }

  .recipe-window .close {
    position: absolute;
    top: -55px;
    right: -55px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../images/icons/close-big.svg);
  }

  .recipe-window .recipe__small-preview {
    display: none;
  }

  .recipe-window .recipe__preview,
  .recipe-window .recipe__content {
    display: block;
  }

  .recipe__content {
    background-color: #fff;
  }

  .recipe__hide-content {
    display: block;
  }

  .recipe-window .recipe__button {
    display: none;
  }

  .recipe__preview {
    height: 300px;
  }

  .recipe__content {
    padding: 0px 38px 28px 38px;
  }

  .recipe__header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 0;
    height: 75px;
  }

  .recipe__header-title {
    margin: 0;
  }

  .recipe__info-title {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 18px;
  }

  .recipe__info-description {
    width: auto;
    margin-bottom: 25px;
  }

  .recipe__info-description p {
    font-size: 16px;
    font-family: 'Muli_SemiBold';
  }

  .recipe__info-description p img {
    margin-right: 11px;
  }

  .recipe__status {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 29px;
    margin-bottom: 24px;
  }

  .recipe__status-item {
    margin-bottom: 0;
  }

  .recipe__status-title {
    font-size: 16px;
    font-family: 'Muli_SemiBold';
    margin-bottom: 15px;
  }

  .recipe__description {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .recipe__description-item {
    width: 285px;
  }

  .recipe__text-container {
    border: none;
    padding: 0;
    margin-bottom: 38px;
  }

  .recipe__text-container:last-child {
    margin-bottom: 0;
  }

  .recipe__text-title {
    font-size: 16px;
    margin-bottom: 17px;
  }

  .recipe__text-list li {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .recipe__description-item:last-child .recipe__text-list li {
    margin-bottom: 12px;
  }

  /* Checkout */

  .select-payment-method {
    width: 805px;
    margin: 40px auto;
  }

  .select-payment-method__content {
    padding-bottom: 17px;
    margin-bottom: 25px;
  }

  .select-payment-method .h2 {
    font-size: 32px;
    line-height: 40px;
    padding: 40px 0px 32px 0px;
  }

  .select-payment-method__card {
    font-family: 'Muli_Bold';
  }

  .payment-frame {
    margin: 40px 0px;
  }
}

@media (min-width: 1260px) {
  .pricing-slider__list {
    display: flex;
    justify-content: center;
  }

  .pricing-slider__item {
    margin: 0px 15px;
  }

  .pricing-slider__description {
    padding-top: 26px;
  }
}
